@media screen and (max-width: 991px) {


  .container {
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
      max-width: 393px;
      width: 100%;
    }

    .name {
      display: none;
    }
  }

  .incredible-section .container .section-header {
    max-width: 393px;
    width: 100%;
  }

  .incredible-wrapper:before {
    display: none;
  }
  .incredible-wrapper:after {
    width: calc(100% - 300px);
    transform: translateX(5%);
  }
}

@media screen and (min-width: 768px) {

  .logo .container .logo-items {
    gap: 80px;
  }

  .video-section .container {
    flex-direction: row;
    align-items: center;
  }

  .incredible-section .container .section-header {
    max-width: 393px;
    width: 100%;
  }

  .art-events .container .section-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .events-item {
      width: calc(50% - 16px);
    }
  }

  footer .container .section-text {
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

    .section-text-col {
      width: calc(33.333% - 16px);

      ul {
        align-items: center;

        h4 {
          justify-content: center;
        }
      }
    }
  }

  .best-solutions .container {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 992px) {
  h1, h2, h3, h4, h5, h6 {
    max-width: none;
    width: 100%;
  }

  .best-solutions .container .section-content {
    align-items: start;
  }


  .logo .container {
    flex-direction: row;
    justify-content: center;

    .logo-items {
      gap: 24px;
    }
  }

  .welcome-section .container {
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (max-width: 1199px) {
  .computer-version {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {


  .best-solutions .container .section-content {
    max-width: none;
  }

  .tel-version {
    display: none;
  }

  .welcome-section .container .section-content .section-header h2 {
    font-size: 72px;
  }

  .logo .container {
    gap: 80px;

    .logo-items {
      gap: 80px;
    }
  }

  .expanding-services .container .content-box-items {
    justify-content: space-between;

    .content-box-item {
      width: auto;
    }
  }

  .expanding-services .container .section-header h2 {
    font-size: 40px;
  }

  .featured-categories .container {
    gap: 24px;

    .section-header {
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 40px;
        width: auto;
      }
    }
  }
  .latest-masterpieces .container {
    .section-header {
      display: flex;
      justify-content: space-between;
    }
    h2 {
      font-size: 40px;
      width: auto;
    }
  }

  .video-section .container .section-content p {
    font-size: 24px;
  }

  .art-events .container .section-content {
    flex-wrap: nowrap;

    .events-item {
      width: calc(33.333% - 16px);
    }
  }

  .art-events .container .section-header {
    flex-direction: row;
    justify-content: space-between;
    h2 {
      width: auto;
      font-size: 40px;
    }
  }

  .promo .container {
    flex-direction: row;

    .section-header {

      justify-content: center;
      align-items: start;

      h2 {
        text-align: left;
        font-size: 40px;
      }
    }
  }

  footer .container .section-text {
    flex-wrap: nowrap;
  }

  footer .container .footer-bottom .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .best-solutions .container .section-content .section-header h2 {
    font-size: 56px;
  }

  .best-solutions .container .section-content .section-header p {
    font-size: 18px;
  }

  .best-solutions .container .section-content ul li {
    font-size: 18px;
  }



  .incredible-section .container {
    flex-direction: row;
    gap: 80px;

    .section-header {
      justify-content: center;

      h2 {
        font-size: 56px;
      }
      p {
        font-size: 18px;
      }
    }
    .incredible-wrapper {
      max-width: 800px;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  }

  .logo {
    padding: 48px 80px;
  }

}

@media screen and (min-width: 1400px ) {



  .container {
    max-width: 1320px;
    width: 100%;
    padding: 0 20px;
  }

  section {
    padding: 80px;
  }

  .best-solutions .container {

    gap: 80px;

    .item {
      width: 50%;
    }
  }


  .video-section .container {
    gap: 80px;

    .item {
      width: auto;
    }
  }
}
















